




body{background-image: url(
"https://media4.giphy.com/media/XsArsE4bys8kE/giphy.gif?cid=ecf05e47gj6v0e915zgcr40vqrpk41nqbwn0ogk2zc1jqrzq&rid=giphy.gif&ct=g");
background-position: center;
    background-size: cover;
}

#score {
    text-align: center;
}

#game {
    /*phông nền , khung*/
    width: 700px;
    height: 700px;
    border: 2px solid black;
    /*sdung biên 2px, màu đen cứng */
    margin: auto;
    /*margin: lề*/
    background: url("hoaanhdao.gif");
    /*bo cạnh*/
    background-size: cover;
    border-radius: 10px;
    /*bóng của khung*/
    box-shadow: 0px 0px 500px palevioletred;
    /*độ trong của hình*/
    opacity: 1;
}

#dino {
    height: 130px;
    width: 190px;
    position: relative;
    /*con ngựa sẽ đc đứng yên ở toạ độ*/
    top: 570px;
    left: 50px;
    background-image: url("ngua.gif");
    background-size: cover;
}

#rock {
    height: 35px;
    width: 35px;
    position: relative;
    /*vị trí tương đối*/
    top: 535px;
    left: 750px;
    background-image: url("chayy.png");
    background-size: cover;
    animation: rock 3s infinite;
}

@keyframes rock {
    /*nơi bắt đầu dần chuyển đến cuối (chướng ngại)*/
    0% {
        left: 700px
    }
    100% {
        left: 0px
    }
}

.jump-animation {
/*(thời gian rơi của ngựa - luân phiên)*/
    animation: jump 1.2s alternate;
}

@keyframes jump {
    0% {
        /*điểm bắt đầu khi dùng phím*/
        top: 570px;
    }
    50% {
        /*điểm đến giới hạn*/
        top: 475px;
    }

    100% {
        /*điểm kết thúc*/
        top: 570px;
    }
}
