body{background: linear-gradient(90deg, #ff14e0 0px, #e082ee 100%);}

#score {
    text-align: center;
}

#game {
    /*phông nền , khung*/
    width: 700px;
    height: 700px;
    border: 2px solid black;
    /*sdung biên 2px, màu đen cứng */
    margin: auto;
    /*margin: lề*/
    background: url("hoaanhdao.gif");
    background-size: cover
}

#dino {
    height: 130px;
    width: 190px;
    position: relative;
    /*con ngựa sẽ đc đứng yên ở toạ độ*/
    top: 570px;
    left: 50px;
    background-image: url("ngua.gif");
    background-size: cover;
}

#rock {
    height: 35px;
    width: 35px;
    position: relative;
    /*vị trí tương đối*/
    top: 535px;
    left: 750px;
    background-image: url("chayy.png");
    background-size: cover;
    animation: rock 3s infinite;
}

@keyframes rock {
    /*nơi bắt đầu dần chuyển đến cuối (chướng ngại)*/
    0% {
        left: 700px
    }
    100% {
        left: 0px
    }
}

.jump-animation {
/*(thời gian rơi của ngựa - luân phiên)*/
    animation: jump 1.2s alternate;
}

@keyframes jump {
    0% {
        /*điểm bắt đầu khi dùng phím*/
        top: 570px;
    }
    50% {
        /*điểm đến giới hạn*/
        top: 475px;
    }

    100% {
        /*điểm kết thúc*/
        top: 570px;
    }
}
